<table class="table">
  <thead>
      <tr>
          <th scope="col">ID</th>
          <th scope="col">Titulo</th>
          <th scope="col">Nota</th>
          <th scope="col">Artista</th>
          <th scope="col">Genero</th>
          <th scope="col">Ano</th>
          <th scope="col">Ações</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let musica of musicas">
      <th scope="row">{{musica.id}}</th>
      <td>{{musica.name}}</td>
      <td>{{musica.price}}</td>
      <td>{{musica.category}}</td>
      <td>{{musica.artist}}</td>
      <td>{{musica.year}}</td>
      <td><button class="btn btn-danger"(click)="delete(musica)">Remover</button></td>
    </tr>
  </tbody>
</table>
